<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>NodeJS web app using Express & ejs & Bootstrap CSS</h1>
            <p>Cube: <%= resultNumber %></p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
        <h2>Wilkens Lavarin</h2>
    </footer>
</body>

</html>